@model IEnumerable<TaskManagementApp.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
<p>
    <a asp-action="Create">Create New</a>
</p>
</div>

<form asp-action="Index" method="get" class="mb-4">
    <p>
        <input type="text" name="searchString" value="@ViewContext.HttpContext.Request.Query["searchString"]" placeholder="Search by Title/status" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
    </form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedById)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedById)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
